body{
    font-family: "Yekan";
    font-size: 16px;
    line-height: 18px;
    width:100%;
    margin:0;
    color: black;
}

.col3{
    width:25%;
    display:inline-block;

}
.col6{
    width: 50%;
    margin:0 20px;
    display:inline-block;

}

a{
    text-decoration: none;
}
ul{
    margin: 0;
}
